RUNNING_ON_AZURE=1
TENANT_ID=
CLIENT_ID=
tenantId=
clientId=
AZURE_CLIENT_ID=
graph_connectionName=

CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTID=
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__TENANTID=
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__AUTHTYPE=

AGENTAPPLICATION__USERAUTHORIZATION__HANDLERS__GRAPH__SETTINGS__AZUREBOTOAUTHCONNECTIONNAME=