{
  "$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.25/MicrosoftTeams.schema.json",
  "manifestVersion": "1.25",
  "id": "${{TEAMS_APP_ID}}",
  "version": "1.0.0",
  "developer": {
    "name": "scallighan",
    "websiteUrl": "https://github.com/scallighan/level-up-azure-app-stack",
    "privacyUrl": "https://github.com/scallighan/level-up-azure-app-stack",
    "termsOfUseUrl": "https://github.com/scallighan/level-up-azure-app-stack"
  },
  "icons": {
    "color": "color.png",
    "outline": "outline.png"
  },
  "name": {
    "short": "levelup-bot",
    "full": "Copilot Agent Framework Demo"
  },
  "description": {
    "short": "Interact with the Agent Framework",
    "full": "Interact with the Agent Framework full description"
  },
  "accentColor": "#FFFFFF",
  "copilotAgents": { 
    "customEngineAgents": [ 
        { 
            "id": "${{BOT_ID}}", 
            "type": "bot" 
        } 
    ]
  },
  "bots": [
    {
      "botId": "${{BOT_ID}}",
      "scopes": ["personal"],
      "isNotificationOnly": false,
      "supportsCalling": false,
      "supportsVideo": false,
      "supportsFiles": false,
      "commandLists":[
        {
            "scopes": [
                "personal"
            ],
            "commands": [
                {
                    "title": "help",
                    "description": "Show the help information"
                }
            ]
        }
      ]
    }
  ],
  "permissions": [
    "identity",
    "messageTeamMembers"
  ],
  "validDomains": [
    "${{BOT_DOMAIN}}",
    "*.botframework.com"
  ],
  "webApplicationInfo": {
    "id": "${{BOT_ID}}",
    "resource": "api://botid-${{BOT_ID}}"
  }
}
